<div>
    <table>
        <tr>
            <td>Your String</td>
            <td><input type="text" ng-model="input1"></td>
        </tr>
        <tr>
            <td>Your String</td>
            <td><input type="text" ng-model="input2"></td>
        </tr>
        <tr>
            <td>Output</td>
            <td><input type="text" ng-model="result"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Process" ng-click="calculateInput(input1, input2)"></td>
        </tr>
    </table>
</div>